.idea/
.vscode/
Library/
Logs/
obj/
Packages/
ProjectSettings/
SaveBase/
Temp/
UserSettings/

Assets/Plugins
Assets/Scenes
Assets/UnityVS
Assets/Архитектура
Assets/асеты
Assets/бот
Assets/бот



*.csproj
*.meta
*.sln
SavePrint.xlsx
